body{
    margin: 0 auto;
    padding: 30px 30px;
}

/*Задаёи стили для каждого дива*/

header{
    width: 800px;
    height: 200px;
    border: 3px solid red;
    box-sizing: border-box;
}

nav{
    width: 100px;
    height: 400px;
    border: 3px solid orange;
    box-sizing: border-box;
}

section{
    width: 700px;
    height: 400px;
    border: 3px solid orange;
    box-sizing: border-box; 
    font-size: 25px;
    font-weight: 700;
    font-family: 'Dancing Script', cursive;
    text-align: center;
    line-height: 120px;

}

footer{
    width: 800px;
    height: 200px;
    border: 3px solid gray;
    box-sizing: border-box;  
}

main{
    display: flex;
}

div{
    width: 800px;
    height: 100px; 
    border: 3px solid rgb(184, 250, 3);
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    line-height: 100px;
    margin-top: 15px;
    box-sizing: border-box;

}